<section class='hero is-fullheight is-primary'>
  <div class='hero-body'>
    <div class='container has-text-centered'>
      <div class='columns is-centered'>
        <div class='column is-full'>
          <!-- Apply backInDown animation to the h1 element -->
          <h1 class='title animate__animated animate__backInDown'>Completed</h1>
          <div class='field'>
            {{#if completeds.length}}
              {{#each completeds as |completed|}}
                <div class='completed-item'>
                  <div class="project-details">
                    <a href='/completed/{{completed.id}}'>{{completed.title}}</a>
                    <h4>{{completed.description}}</h4>
                  </div>
                  <div class='time-adjustment'>
                    <div class='time-display'>
                      <p>Time Spent: {{completed.time_applied}} minutes</p>
                    </div>
                  </div>
                </div>
              {{/each}}
            {{else}}
              <p>None completed yet.</p>
            {{/if}}
            {{> modal}}
          </div>
          <div class='field'>
            <div class='control'>
              <button class='button is-primary add-button add-project-button' data-page='completed' data-id='{{completed.id}}'>Add new Project</button>
            </div>
          </div>
          <div class='buttons is-centered mt-5'>
            <a href='/dashboard' class='button dashboard-button'>Dashboard</a>
            <a href='/working' class='button working-button'>Working</a>
            <a href='/todo' class='button todo-button'>To-Do</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="./js/timeTrack.js"></script>
