<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h2 class="title has-text-centered custom-title">Projects</h2>
      <!-- <h2 class="subtitle custom-subtitle">procrastinot</h2> -->
    </div>
  </div>
</section>
<section class="section custom-boxes">
  <div class="container">
    <div class="custom-box working-on">
      <a href="/working" class="box">
        <p class="title">Working On</p>
        <!-- Placeholder for working on -->
        <div class="task">
          <p class="task-title">{{this.title}}</p>
          <p class="task-description">{{this.description}}</p>
        </div>
      </a>
    </div>
    <div class="custom-box to-do">
      <a href="/todo" class="box">
        <p class="title">To-Do</p>
        <!-- Placeholder for to-do -->
        <div class="task">
          <p class="task-title">{{this.title}}</p>
          <p class="task-description">{{this.description}}</p>
        </div>
      </a>
    </div>
    <div class="custom-box completed">
      <a href="/completed" class="box">
        <p class="title">Completed</p>
        <!-- Placeholder for tasks -->
        <div class="task">
          <p class="task-title">{{this.title}}</p>
          <p class="task-description">{{this.description}}</p>
        </div>
      </a>
    </div>
    <div class="custom-box total-time-spent">
      <div class="box">
        <p class="title">Total Time Spent</p>
        <p class="subtitle">[data pulled]</p>
      </div>
    </div>
  </div>
</section>


<script src="/js/timeTrack.js"></script>
