<section class="hero is-fullheight is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-centered">
        <div class="column is-full">
          <h1>Project Details</h1>
          <h2 id="title" data-model="{{model}}" data-id="{{id}}" data-time="{{time_applied}}">Title: {{title}}</h2>
          <p id="description">Description: {{description}}</p>
          <p>Date Created: {{format_date date_created}}</p>
          <div class="time-adjustment">
            <div class="time-display">
              <p id="timeSpent">Time Spent: {{time_applied}} minutes</p>
              <p><span id="timer"></span></p>
            </div>
            <div class="control-buttons">
              <button id="startButton">Start</button>
              <button id="stopButton">Stop</button>
              <button id="addFifteen"
              >Add 15 min</button>
              <button 
                id="subtractFifteen" 
              >Subtract 15 min</button>
            </div>
          </div>
          <footer>
            <button
              id="todo-button"
              class="button move-buttons"
            >Move to To Do</button>
            <button
              id="working-button"
              class="button move-buttons"
            >Move to Working On</button>
            <button
              id="completed-button"
              class="button move-buttons"
            >Move to Completed</button>
            <a href="/{{model}}" class="button">Back to {{model}}</a>
            <button
              id="delete-project-button"
              class="button is-danger"
            >Delete Project</button>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="./../js/moveProject.js"></script>
<script src="./../js/timeTrack.js"></script>