<section class='hero is-fullheight is-primary'>
  <div class='hero-body'>
    <div class='container has-text-centered'>
      <div class='columns is-centered'>
        <div class='column is-full'>
          <!-- Apply heartbeat animation to the h1 element -->
          <h1 class='title animate__animated animate__heartbeat'>To-Do</h1>
          <div class='field'>
            {{#if todos.length}}
              {{#each todos as |todo|}}
                <div class='todo-item'>
                  <div class='project-details'>
                    <a href='/todo/{{todo.id}}'>{{todo.title}}</a>
                    <h4>{{todo.description}}</h4>
                  </div>
                  <div class='time-adjustment'>
                    <div class='time-display'>
                      <p>Time Spent: {{todo.time_applied}} minutes</p>
                    </div>
                  </div>
                </div>
              {{/each}}
            {{else}}
              <p>No to-dos yet.</p>
            {{/if}}
            {{> modal}}
          </div>
          <div class='field'>
            <div class='control'>
              <button class='button is-primary add-button add-project-button' data-page='todo' data-id='{{todo.id}}'>Add new Project</button>
            </div>
          </div>
          <div class='buttons is-centered mt-5'>
            <a href='/dashboard' class='button dashboard-button'>Dashboard</a>
            <a href='/working' class='button working-button'>Working</a>
            <a href='/completed' class='button completed-button'>Completed</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src='./js/timeTrack.js'></script>
