<section class='hero is-fullheight is-primary'>
  <div class='hero-body'>
    <div class='container has-text-centered'>
      <div class='columns is-centered'>
        <div class='column is-full'>
          <h1 class='title'>To-Do</h1>
          <div class='field'>
            {{#if todos.length}}
              {{#each todos as |todo|}}
                <div class='todo-item'>
                  <a class='project-details' data-id='{{todo.id}}'>{{todo.title}}</a>
                  <h4>{{todo.description}}</h4>
                  <div class='time-adjustment'>
                    <p>Time Spent:</p>
                    <div class='time-display'>
                      <p><span class='project-time' id="timerDisplay_{{todo.id}}"></span></p>
                    </div>
                    <button id='startButton_{{todo.id}}'>Start</button>
                    <button id='stopButton_{{todo.id}}'>Stop</button>
                    <button id="resetButton_{{todo.id}}">Reset</button>
                    <div class='control-buttons'>
                      <i class='fas fa-arrow-up increase-hour'></i>
                      <i class='fas fa-arrow-down decrease-hour'></i>
                      <div class='delete-button'>                 
                      </div>
                    </div>
                  </div>
                </div>
                {{> modal}}
              {{/each}}
            {{else}}
              <p>No todos found.</p>
            {{/if}}
          </div>
          <div class='field'>
            <div class='control'>
              <button class='button is-primary add-button add-project-button'>Add new Project</button>
            </div>
          </div>
          <div class='buttons is-centered mt-5'>
            <a href='/dashboard' class='button is-success dashboard-button'>Dashboard</a>
            <a href='/working' class='button is-info working-button'>Working</a>
            <a href='/completed' class='button is-info completed-button'>Completed</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
