<!-- Section for displaying the Working items -->
<section class='hero is-fullheight is-primary'>
  <div class='hero-body'>
    <div class='container has-text-centered'>
      <div class='columns is-centered'>
        <div class='column is-full'>
          <!-- Title -->
          <h1 class='title'>Working</h1>
          <div class='field'>
            <!-- Check if there are any Working items -->
            {{#if workings.length}}
              <!-- Loop through each Working item -->
              {{#each workings as |working|}}
                <div class='working-item'>
                  <!-- Display the title and description -->
                  <a href='/working/{{working.id}}'>{{working.title}}</a>
                  <h4>{{working.description}}</h4>
                  <div class='time-adjustment'>
                    <!-- Display the time spent -->
                    <p>Time Spent:{{working.time_applied}}</p>
                    <!-- Display the timer -->
                    <div class='time-display'>
                      <p><span class='project-time' id="timerDisplay_{{working.id}}"></span></p>
                    </div>
                    <!-- Buttons for controlling the timer -->
                    <button id='startButton_{{working.id}}'>Start</button>
                    <button id='stopButton_{{working.id}}'>Stop</button>
                    <button id="resetButton_{{working.id}}">Reset</button>
                    <div class='control-buttons'>
                      <i class='fas fa-arrow-up increase-hour'></i>
                      <i class='fas fa-arrow-down decrease-hour'></i>
                      <div class='delete-button'>                 
                      </div>
                    </div>
                  </div>
                </div>
              {{/each}}
            <!-- If there are no Working items, display a message -->
            {{else}}
              <p>Currently working on none.</p>
            {{/if}}
            <!-- Include modal for adding new project -->
            {{> modal}}
          </div>
          <!-- Button to add a new project -->
          <div class='field'>
            <div class='control'>
              <button class='button is-primary add-button add-project-button' data-page='working' data-id='{{working.id}}'>Add new Project</button>
            </div>
          </div>
          <!-- Navigation buttons -->
          <div class='buttons is-centered mt-5'>
            <a href='/dashboard' class='button is-success dashboard-button'>Dashboard</a>
            <a href='/todo' class='button is-info todo-button'>To-Do</a>
            <a href='/completed' class='button is-info completed-button'>Completed</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
